*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $colorFondo;

    header{
        margin: 0;

        li{
            list-style-type: none;
            display: inline;
        }
    }
}

.bkg{
    background-color: black;
}

.logo{
    border-radius: 0%;
}

/*Extend*/

a{
    @extend .color2;
    text-decoration: none;
}

h1{
    @extend .color2;
    @include padd_color (20px, black);
    border: 10px solid;
    margin: 30px 10px 30px 10px;
}

h2, h3{
    color: $colorTexto;
}

p{
    color: $colorTexto;
    padding: 20px;
    font-family: 'Kanit', sans-serif;
}

.ancla{
    color: black;
}

.descripcion{
    font-weight: 600;
}

.carousel-img{
    border-radius: 0%;
    border: solid;
}

.carousel-3{
    color: red;
}

.form-registro {
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.formulario{
    font-size: 22px;
    border: 0;
    margin: 0px 0px 20px 0px;
}

.controls{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 18px;
    color: white;
}

.form-registro p{
    height: 40px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    line-height: 40px;
    color: white;
}

.form-registro a{
    color: white;
    text-decoration: none;
}

.form-registro a:hover {
    color: white;
    text-decoration: underline;
}

.form-registro .botons{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 25px 0;
    font-size: 16px;
}

.videos{
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.redes{
    background-color: $colorFondoRedes;
    margin:  10px;
}